[submodule "modules/Acoustics-at-home"]
	path = modules/Acoustics-at-home
	url = https://github.com/Nauchnik/Acoustics-at-home.git
[submodule "modules/delaunay"]
	path = modules/delaunay
	url = https://github.com/GoldFeniks/delaunay.git
[submodule "modules/DORK"]
	path = modules/DORK
	url = https://github.com/GoldFeniks/DORK.git
