[submodule "modules/Acoustics-at-home"]
	path = modules/Acoustics-at-home
	url = git@github.com:Nauchnik/Acoustics-at-home.git
[submodule "modules/delaunay"]
	path = modules/delaunay
	url = git@github.com:GoldFeniks/delaunay.git
