[submodule "modules/CAMBALA"]
	path = modules/CAMBALA
	url = https://github.com/Nauchnik/CAMBALA.git
[submodule "modules/delaunay"]
	path = modules/delaunay
	url = https://github.com/GoldFeniks/delaunay.git
[submodule "modules/DORK"]
	path = modules/DORK
	url = https://github.com/GoldFeniks/DORK.git
[submodule "modules/zip"]
	path = modules/zip
	url = https://github.com/GoldFeniks/zip.git
[submodule "modules/json"]
	path = modules/json
	url = https://github.com/nlohmann/json.git
